{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock %}

{% block content %}
{% load mptt_tags %}
    <div class="container-fluid">
{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
        <div class="row form-center">
            <div class="card shadow .mx-auto">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Reset Your Password</h6>
                </div>
                <div class="card-body" style="padding:2em;">
{#                     {% include 'display-messages.html' %}#}
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-sm btn-theme-primary" type="submit">submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}