{% load crispy_forms_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
</head>
<body>
you are on sign up page
{% load crispy_forms_tags %}
<script>
    var csrf_token= '{{ csrf_token }}'
</script>
<script src="{% static 'verify-otp.js' %}"></script>

{% load mptt_tags %}
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4"></div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Sign Up Form</h6>
                </div>
                <div class="card-body">
{#                     {% include 'display-messages.html' %}#}
                     <form method="POST" class="text-left record-form" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xl-12 col-sm-6 col-md-3">
                                {% csrf_token %}
                                    {{ form|crispy }}
                                <div class="form-group">
                                    <br>
                                    <div id = "verification_status" style="color: green"></div>
                                    <button class="btn btn-primary  btn-sm" id="btn-submit-get-otp" value = "Send OTP" type="button">Send OTP</button>
                                    <button class="btn btn-primary  btn-sm" id="btn-submit-verify-otp" type = button>Verify OTP</button>
                                    <a href="/accounts/sign-up"><button class="btn btn-warning  btn-sm" type="submit" id="btn-sign-up">Sign Up</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>