{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        var csrf_token= '{{ csrf_token }}'
    </script>
    <script src="{% static 'update-city.js' %}"></script>
    <div class="card" style="margin-left: 20vw; margin-right: 20vw; margin-top: 10vh; margin-bottom: 10vh">
        <h5 class="card-header" style="background-color: #0d6efd; color: #ffffff">
            LODGE COMPLAINT
        </h5>
        <div style="margin-left:1vw">
            <div class="card-body">
                <form method="POST" class="text-left record-form" enctype="multipart/form-data" class="row g-3">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3" class="form-label">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}