{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 10vw;">
    <div class="popup" id="popup">
        <img src="{% static 'assets/12.png' %}">
      <h2>Call:</h2>
      <p>
          {% for number in support_number %}
            {{ number }}<br>
          {% endfor %}
      </p> <button type="button" onclick="closePopup()">OK</button>
    </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'assets/1.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Lodge a Complaint</h5>
              <a href="/home/complain/lodge-complain" class="btn btn-primary">Lodge</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'assets/2.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Track your Complaints</h5>
              <a href="/home/complain/track-complain" class="btn btn-primary">Track</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'assets/3.png' %}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">View Complaints</h5>
              <a href="/home/complain/view-complain-all" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col">
      <div class="card h-100 colBorder">
        <img src="{% static 'assets/4.png' %}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Call support</h5>
          <div>
            <button type="submit" class="btn btn-primary btnBorder" onclick="openPopup()">Dial</button>
          </div>
        </div>
      </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'assets/5.png' %}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">FAQs and Chat Support</h5>
                <a href="#" class="btn btn-primary">Find out</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
                <img src="{% static 'assets/6.png' %}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Check Calendar</h5>
                <a href="#" class="btn btn-primary">Check</a>
              </div>
            </div>
          </div>
      </div>
        <script>
            {#$ = django.jQuery#}
            let popup = document.getElementById("popup");
            console.log("sc")
            function openPopup() {
                console.log("fn")
              popup.classList.add("open-popup");
            }
            function closePopup() {
              popup.classList.remove("open-popup");
            }
          </script>
{% endblock %}