{% extends 'base.html' %}
{% load static %}

{% block content %}
  <body style="font-family: Poppins; overflow-x: hidden; background-color: #f0f8ff">
    <div
      class="row row-cols-1 row-cols-md-3 g-4"
      style="
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
      "
    >
      {% for record in object_list %}
      <div class="col">
        <div class="card">
          <h5 class="card-header" style="background-color: #0d6efd; color: #FFFFFF">{{ forloop.counter0|add:page_obj.start_index }}</h5>
          <div class="card-body">
            <strong> Complaint ID: {{ record.complain_id }}</strong> <br />
            <strong> Title: </strong>{{ record.complain_title }} <br />
            <strong> Date: </strong>{{ record.created_on }} <br />
            <strong> Location: </strong>{{ record.location_city }}, {{ record.location_state }}<br />
            <a href="/home/complain/view-complain-detail/{{ record.complain_id }}">
              <button class="btn btn-sm btn-primary" name="id" value="" type="submit" style="margin-top: 10px">View Details</button>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                 id="dataTable_paginate">
                                                {% if is_paginated %}
                                                <ul class="pagination">
                                                    {% if page_obj.has_previous %}
                                                    <li class="paginate_button page-item previous">
                                                        <a class="page-link "
                                                           href="?page={{ page_obj.previous_page_number }} ">Prev</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="paginate_button page-item previous disabled ">
                                                        <span class="page-link ">Prev</span>
                                                    </li>
                                                    {% endif %} {% for i in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == i %}
                                                    <li class="paginate_button page-item active ">
                                                        <span class="page-link ">{{ i }}</span>
                                                    </li>
                                                    {% else %}
                                                    <li class="paginate_button page-item ">
                                                        <a class="page-link" href="?page={{ i }} ">{{ i }}</a>
                                                    </li>
                                                    {% endif %} {% endfor %} {% if page_obj.has_next %}
                                                    <li class="paginate_button page-item ">
                                                        <a class="page-link"
                                                           href="?page={{ page_obj.next_page_number }} ">Next</a>
                                                    </li>
                                                    {% else %}
                                                    <li class="paginate_button page-item next disabled ">
                                                        <span class="page-link ">Next</span>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

{% endblock %}